= form_with model: [commentable, Comment.new], class: 'comment-form hidden', local: false do |f|
  = f.label :body, 'Your Comment', class: 'form-label'
  = f.text_area :body, class: 'form-control'
  = f.submit 'Add Comment', class: 'btn btn-primary'
