<% if resourse&.errors.present? %>
  <b><%= "#{resourse.errors.count} error(s) detected: " %></b>
  <ul>
    <% resourse.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
