| <li class='answer' id=
= answer.id
| > 
p
  = answer.body
.answer-files
  - if answer.files.attached?
    - answer.files.each do |file|
      p.file-container
        = link_to file.filename.to_s, url_for(file)
        - if current_user == @question.user
          span
            = link_to 'delete file', purge_attachment_path(file), class: 'remove-file-link', method: :delete, remote: true
.links
  p
    | Links:
  ul
    - answer.links.each do |link|
      li
        = link_to link.name, link.url
- if current_user == answer.user
  p
    = link_to 'Edit Answer', '#', class: 'edit-answer-link', data: { answer_id: answer.id }
  p
    = link_to 'Delete Answer', answer, class: 'remove-answer-link', method: :delete, remote: true
- if current_user == answer.question.user
  p
    = link_to 'Best Answer', mark_as_best_answer_path(answer), method: :post, data: { answer_id: answer.id }, remote: true
= form_with model: answer, class: 'hidden', html: { id: "edit-answer-#{answer.id}"  }, local: false do |f|
  = f.label :body, 'Your answer'
  = f.text_area :body
  = f.label :files
  = f.file_field :files, multiple: true, direct_upload: true
  p
    | Links:
  = f.fields_for :links do |l|
    = l.label :name, 'Link Name'
    = l.text_field :name
    = l.label :url
    = l.text_field :url
  = f.submit 'Save'
