.hidden {
  display: none
}

.nav-item {
  margin-left: 10px;
}

.form-inline {
  display: flex;
  flex-direction: row;
  width: auto;

  * {
    margin-left: 10px;
  }
}

.actions-container {
  display: inline-block;

  * {
    padding-right: 7px;
  }

  :last-child {
    padding-right: 0;
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid grey;
}

.reward-image-container {
  width: 100px;
  height: 100px;

  img {
    width: 100%;
    height: auto;
  }
}
